
body {
    color: #ffffff;
    background-color: #4B8BBE;
}
h1 {
    color: #CD8D00;
    text-align: center;
}
h2 {
    color: #306998;
}
h3 {
    color: #E3A15D;
}
p{
    text-indent: 40px;
}
.st-b3{
    display: flow;    
}
.st-bp{
    border: solid black;
}